<div class="calculator-container">
	<div class="calculator">
		<%= form_for :calculator, url: { action: :calculate }, method: :get do |f|   %>
		  <%= number_field_tag :a, params[:a], {class: "calculator-input"} %>
		  <%= select_tag :operation, options_for_select([['+', :add], ['-', :subtract], ['*', :multiply], ['/', :divide]], params[:operation]), {class: "calculator-select"} %>
		  <%= number_field_tag :b, params[:b], {class: "calculator-input"} %>
		  <%= f.submit 'Calculate!', class: "my-button" %>
		<% end %>

		<% unless @result.nil? %>
		  <p class="calculator-result"> = <%= @result %> </p>
		<% end %>
	</div>
</div>
