// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.calculator-result {
	font-family: monospace;
	font-size: 32px;
}

.calculator {
	margin: 0 auto;
	padding: 75px 0;
}

.calculator-container {
	width: 100%;
	text-align: center;
}

.calculator-input {
	border: 2px solid rgb(173, 204, 204);
	height: 31px;
	width: 223px;
	box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
	transition:500ms all ease;
	padding:3px 3px 3px 3px;
}

.calculator-select {
   width: 40px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}